<app-hero
  title="Components"
  subtitle="Dies sind ein paar Beispielkomponenten."
  buttonText="Components ansehen"
  buttonLink="#overview"
>
</app-hero>

<div class="grid-container">
  <ng-container *ngFor="let project of projects">
    <app-card
      [title]="project.name"
      [subtitle]="project.description"
      [imageUrl]="project.image"
      [linkUrl]="project.url">
    </app-card>
  </ng-container>
</div>


<ng-container *ngFor="let faq of faq">
  <app-accordion [title]="faq.frage">
    <p>{{faq.antwort}}</p>
     <app-button label="Primary" variant="primary"></app-button>
     <app-button label="Secondary" variant="secondary"></app-button>
     <app-button label="Danger" variant="danger"></app-button>
    </app-accordion>
</ng-container>