<app-hero
  title="Willkommen zu meiner Angular Sandbox!"
  subtitle="Dies ist ein Angular Sandkasten für verschiedene Komponenten."
  buttonText="Components ansehen"
  buttonLink="#"
>
</app-hero>

<app-cta
  title="Ready to simplify your workflow?"
  text="Pandao CRM is designed for small teams that want flexibility without complexity."
  buttonLabel="Try Pandao"
  buttonLink="https://pandao.io"
  imageUrl="https://picsum.photos/seed/suuui/1280/720"
  [reverse]="false">
</app-cta>

<app-cta
  title="Need powerful tools?"
  text="Explore our toolkits built with modern teams in mind."
  buttonLabel="See Tools"
  buttonLink="#tools"
  imageUrl="https://picsum.photos/seed/suuuuuui/1280/720"
  [reverse]="true">
</app-cta>